<%- include('./partials/head.ejs'); %>

	<div class="modal">
		<div class="modalForm">
   			<h1>Do you wish to save your result?</h1>
   			<br/><button id="saveResult">Yes</button><button onclick="document.getElementsByClassName('modal')[0].style.display = 'none';">No</button>
		</div>
	</div>

	<header>
    	<h1>Cubes</h1>
    	<nav class="navbar">
    		<div id="start" class="nav-item">
    			<img src="/images/glyphicons-174-play.png" />
    		</div>
    		<div id="pause" class="nav-item">
    			<img src="/images/glyphicons-175-pause.png" />
    		</div>
    		<div id="restart" class="nav-item">
    			<img src="/images/glyphicons-366-restart.png" />
    		</div>
    		<div id="points" class="nav-item">Points: 0</div>
    		<div id="time" class="nav-item">Time left: 01:00</div>
            <div>Login: &nbsp;<%= login %></div>
            <div style="float: right;">
                <a href="/signOut">Sign Out</a>
            </div>
    	</nav>
	</header>

	<section>
		<div id="results">Results</div>
		<table id="field" disabled></table>
	</section>

	<script type="text/javascript" src="/javascripts/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/javascripts/game.js"></script>

<%- include('./partials/foot.ejs'); %>
