<%- include('../partials/head.ejs'); %>

<h1>Sign In</h1>

<% var message = message; %>
<% var login = login; %>
<% var password = password; %>
<% if (!!message) { %>
	<div id="response"><%= message %></div>
<% } %>

<form id="loginForm" action="/signIn" method="post">
	<div>
		<label for="login">Login: </label>
		<input id="login" name="login" type="text" placeholder="login" value="<%= login %>" />
	</div>
	<div>
		<label for="password">Password: </label>
		<input id="password" name="password" type="password" placeholder="password" value="<%= password %>" />
	</div>
	<div>
		<input id="submit" type="submit" value="Sign In" />
	</div>
	<div>
		<p>Don't have an account? Click <a href="/signUp">here</a> to Sign Up.</p>
	</div>
<form>

<script type="text/javascript" src="/javascripts/jquery-3.2.1.min.js"></script>
<script>

	function post() {
		var data = JSON.stringify({
			login: $('#login').val(),
			password: $('#password').val()
		});
		$.ajax({
         	type: 'POST',
         	url: '/signIn',
         	headers: {
         		'Content-Type': 'application/json'
         	},
         	data: data,
         	success: function(data) {
            	$('#response').html(data);
         	}
        });
	}
</script>

<%- include('../partials/foot.ejs'); %>