<%- include('../partials/head.ejs'); %>

<h1>Sign Up</h1>


<% var message = message; %>
<% var name = name; %>
<% var login = login; %>
<% if (!!message) { %>
	<div id="response"><%= message %></div>
<% } %>

<form action="/signUp" method="post">
	<div>
		<label for="name">Name: </label>
		<input id="name" name="name" type="text" placeholder="Name" value="<%= name %>" />
	</div>
	<div>
		<label for="login">Login: </label>
		<input id="login" name="login" type="text" placeholder="Login" value="<%= login %>" />
	</div>
	<div>
		<label for="password">Password: </label>
		<input id="password" name="password" type="password" placeholder="Password" value="" />
	</div>
	<div>
		<label for="password">Confirm password: </label>
		<input id="password" name="confirmedPassword" type="password" placeholder="Confirm password" value="" />
	</div>
	<div>
		<input type="submit" value="Sign Up" />
	</div>
	<div>
		<p>Alredy have an account? Click <a href="/signIn">here</a> to Sign In.</p>
	</div>
<form>

<%- include('../partials/foot.ejs'); %>